{%extends "registration/base.html" %}
{% load static %}
{% load bootstrap5 %}
{% block content %}

<style>
   .content{
       height:100vh;
       width:100%;
       background-color:#C4DDFF;
       overflow-x: hidden;
   }
    .card {
        padding: 4%;
        border-radius: 10%;
        background: linear-gradient(to bottom right, #7FB5FF, #001D6E);
        filter: drop-shadow(2px 4px 8px #585858);
    }
    .card:hover {
        filter: drop-shadow(2px 4px 8px #fff);
    }
    .title {
        font-weight: 900;
        font-size: x-large;
    }
    .guide {
        padding-bottom: 10%;
        border-bottom: .5px solid black;
    }
</style> 
<section class="content">
  <div class="container mt-5" style=" align-items:center; width:60%;" >
    <div class="card">
        <img src="{% static 'images/logo-removebg-preview.png' %}" alt="can't be reached" style="width: 50%; margin-top:2%; margin-left:20%;height:30vh;">
        <div class="row">
            <div class="col-md-6" style="width: 100%; padding:5%;">
                
                <div class="input">
                    <div class="text-center">
                        <div class="title">Create your profile to start using dollhouse products.</div>
                        <hr />
                        <div class="guide">
                            Please add an image for your profile picture, a bio and your contact.
                        </div>
                    </div>

                    <form action="{%url 'create_profile'%}" method="post" enctype="multipart/form-data">
                        {%csrf_token%} {% bootstrap_form form%}
                        <input type="submit" class="btn btn-dark" value="Create Profile"/>
                    </form>
                    <div class="guide">
                        <p>You can now visit the site and shop. <a href="{% url 'home' %}" class="btn btn-light btn-block">Go to Home</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div> 
</section>
{% endblock %}