{%extends "registration/base.html"%} {% load bootstrap5 %}
{% load static %}
{% block content %}
<style>
.content{
  background-color:#C4DDFF;
  height:100vh;
}
</style>

<div class="content">
  <div class="container">
    <div class="row">
      {% if form.errors %}
      <p>Some Information Might be Incorrect</p>
      {% endif %}
      <div class="col-md-6">
        <img class="sign" src="{%static 'images/logo4.png' %}" alt="can't be reached" style="width: 100%;margin-top: 24%">
      </div>
      <div class="col-md-6 contents">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="mb-4">
            <h3>Register with your Email</h3>
            <p class="mb-4">Please enter the required fields to sign in and enjoy more of our products. THANK YOU</p>
          </div>
          <form  method="post">
            {% csrf_token %}
            {% bootstrap_form form%}
  
            <div class="form-group text-center">
              <button class="btn " type="submit" style="background: #9C0646; color: #fff;">Sign Up</button>
            </div>
          </form>
          </div>
          <div class="card" style="background-color:#C4DDFF; margin-left:50px;margin-right:40px;">
            <p>Already have an account?<a href="/accounts/login/">Login</a></p>
          </div>
        </div>
        
      </div>
      
    </div>
  </div>

</div>


{% endblock %}