{%extends "registration/base.html"%}
{% load bootstrap5 %}
{% load static %}
{% block content %}

<style>
  .content{
    background-color:#E9D5DA;
    height:100vh;
  }
</style>

<div class="content">
  <div class="container">
    <div class="row">
      {% if form.errors %}
      <p>Some Information Might be Incorrect</p>
      {% endif %}
      <div class="col-md-6">
        <img src="{% static 'images/dollhouse10.png' %}" alt="can't be reached" style="width: 100%; ">
      </div>
      <div class="col-md-6 " style="margin-top:10%;">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="mb-4">
            <h3>Login </h3>
            <p class="mb-4">Enter your details to login into your account.</p>
          </div>
          <form  method="post">
            {% csrf_token %}
            {% bootstrap_form form%}
  
            <div class="form-group text-center">
              <button class="btn" href="/" type="submit" style="background: #9C0646; color: #fff;" >Log In</button>
            </div>
          </form>
          </div>
          <div class="" style="margin-top: 1rem;padding-left: 5%;margin-left:30%;">
            <p>Don't have an account?<a href="/accounts/register/">Register</a></p>
          </div>
        </div>
    </div>
  </div>

</div>
</div>

{% endblock %}